<ion-header>
  <ion-navbar>
    <ion-title>
      Image Gallery
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only >
       
        Select </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding float-right>
  

  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->


    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let pic of photoList">
          <ion-item>
            <ion-checkbox (onChange)="onArrayImages(pic)" >{{pic?.name}}</ion-checkbox>
            <ion-card item-left>
              <img src={{pic?.picture}}>
            </ion-card>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button full (click)= "deletePhoto(imageSelected)">Delete Image</button>
    <button ion-button full (click)="captureImage()">Capture Image</button>
    <button ion-button full (click)="sendEmail()">Send Email</button>

    <ion-card>
      <ion-card-header>Current image</ion-card-header>
      <ion-card-content>
        <img [src]="currentImage" *ngIf="currentImage" />
      </ion-card-content>
    </ion-card>
    <!-- More Pinterest floating gallery style -->

  </div>


</ion-content>
